{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="{$basePath}/bootstrap_framework/css/bootstrap.css">
<!--	<a n:href="default locale => cs">cs</a>
	<a n:href="default locale => en">en</a>-->
	{block head}
        {/block}
</head>

<body class="container">
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand" href="#">Netwings marekting</a>
		</div>
		 <ul class="nav navbar-nav">
		    <li><a href="#">Home</a></li>
		    {if $user->isLoggedIn()}<li><a href="{plink ConnectServices:}">{_generalUi.connect_services}</a></li>{/if}
		    {if $user->isLoggedIn()}<li><a href="{plink DownloadMarketingData:}">{_generalUi.manage_services}</a></li>{/if}
		</ul>
		<ul class="nav navbar-nav navbar-right">
		    {if !$user->isLoggedIn()}<li><a href="{plink Sign:up}">{_generalUi.sign_up}</a></li>{/if}
		    {if !$user->isLoggedIn()}<li><a href="{plink Sign:in}">{_generalUi.sign_in}</a></li>{/if}
		    {if $user->isLoggedIn()}<li><a href="{plink Sign:out}">{_generalUi.sign_out}</a></li>{/if}
		</ul>
	    </div>
	</nav>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{include content}

	{block scripts}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/bootstrap_framework/js/bootstrap.js"></script>
	{/block}
	
</body>
</html>
