{* Latte template *}

{block content}
<ul class="list-group">
    {if $facebookConnected}
	<li class="list-group-item">
	    <span class="text-success">
		<h1>
	    {_generalUi.connectServices.facebook_state}
		</h1>
	    </span>
	    {control fbDisconnect}
	</li>
    {else}
	<li class="list-group-item">
	    <a n:href="fbLogin-open!">{_generalUi.connectServices.connect_facebook}</a>
	</li>
	
    {/if}
    {if $googleConnected}
	<li class="list-group-item">
	    <span class="text-success">
		<h1>
		    {_generalUi.connectServices.google_state}
		</h1>
	    </span>
	    {control googleDisconnect}
	</li>
    {else}
	<li class="list-group-item">
	    <a n:href="connectGoogle-connect!">{_generalUi.connectServices.connect_google}</a>
	</li>
    {/if}
    {if $sklikConnected}
	<li class="list-group-item">
	    <span class="text-success">
		<h1>
		    {_generalUi.connectServices.sklik_state}
		</h1>
	    </span>
	    {control sklikDisconnect}
	</li>
    {else}
	<li class="list-group-item">
            <span class="text-info"> 
		<h1>
		    {_generalUi.connectServices.connect_sklik}
		</h1>
	    </span>
	    {control sklikLoginForm}
	</li>
    {/if}
</ul>